@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Dancing+Script:wght@500&family=Great+Vibes&display=swap');




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body, nav{
    background: linear-gradient(to right,#FBF3E4,#f5e8d0);

}


.nav{
    margin-right: 20px;
    margin-top: 20px;
    font-family: "Bebas Neue";
    font-size: larger;
}

a:hover{
    color: rgb(124, 123, 123);
    text-decoration: underline;
    
}

.armado{
    text-align: center;
}

.presentacion{
    color: #C74567;
    font-family: 'Alex Brush', cursiva;
    font-size: 4.3em;
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight:lighter;
    height: 50px;
    
}


.tituloPrincipal{
    color: #151515;
    font-family: "Bebas Neue";
    display: flex;
    justify-content: center;
    font-size: 10em;
    margin: 0;
    z-index: 1;
    height: 170px;
}

.etiqueta{
    display: inline-block;
    font-family: "Montserrat";
    font-size: 15px;
    padding: 10px 50px 10px 50px;
    background-color: #DFD8CA;
    border-radius: 8px;
    border: 2px solid #151515;
    
    

}

.etiqueta p{
    margin: 0;
}

.fotoPropia{
    display: flex;
    justify-content: center;
}
.foto{
    display: flex;
    justify-content: center;
    width: 220px;
    border-radius: 50%;
}

.titulos{
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue";
    
}

.tarj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    text-align: justify;
    
}
.tarj:hover{
    transform: scale(1.1);
}

.conjunto{
    margin-top: 50px;
}

.img{
    width: 400px;
    height: 300px;
    border-radius: 5px 5px 0 0;
    margin: 0px 0px;
}
.contenido{
    width: 400px;
    border-radius: 0 0 5px 5px;
    border-left: 0.5px solid rgb(122, 121, 121);
    border-bottom: 0.5px solid rgb(132, 131, 131);
    border-right: 0.5px solid rgb(135, 133, 133);
    margin: 0px 0px 20px 0px;
    box-shadow: 2px 3px 10px rgb(126, 124, 124);
    height: 380px;
    padding: 20px;
    font-family: "Montserrat";
    font-size: 14px;
    

}

.contenido li{
    list-style: none;
}
.estudios{
    margin: 50px;
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue";
}
.info{
    text-align: justify;
    width: 1100px;
    font-family: "Montserrat";
    font-size: 15px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.iconos:hover{
    transform: scale(1.1);
}
.iconos img{
    width: 80px;
    margin: 20px;

}

.footer{
    background: linear-gradient(to right,#FBF3E4,#f5e8d0);
    border-top: 2px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.footer a{
    font-family: "Montserrat";
    text-decoration: none;
    color:#151515;
    font-weight: bold;
}

.ancla{
    width: 300px;
}


@media (max-width: 767px) {
    .presentacion {
        font-size: 2.5em; /* Ajusta el tamaño del texto para dispositivos móviles */
    }

    .tituloPrincipal {
        font-size: 6em; /* Ajusta el tamaño del texto para dispositivos móviles */
        height: auto; /* Ajusta la altura para permitir un mejor centrado vertical */
    }

    .etiqueta {
        padding: 10px; /* Reduce el relleno para dispositivos móviles */
    }

    .tarj img {
        width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor en dispositivos móviles */
        
    }

    .contenido {
        text-align: center; /* Centra el contenido en dispositivos móviles */
    }

}